
extend components/plantilla.pug
block contenidos
        section.intro
            .intro-imagen: img(src="images/imagen.png", alt="")
            .intro__contenido
                h2 #{titulos[0]}
                //h2 #{titulo} otra forma de llamar variables
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nesciunt quam sapiente id molestias numquam quaerat excepturi illo vitae, delectus, suscipit modi dignissimos perspiciatis placeat.
                    span Lorem ipsum dolor sit.
                a.boton Leer más

        main.contenido
            +caja('imagen.png',titulos[1],'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, quam.' )
            +caja('imagen.png',titulos[2],'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, quam.' )
            +caja('imagen.png',titulos[3],'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, quam.' )